

h1, h2, h3{
    text-align: center;
    font-family: 'Courier New', monospace;
    color: #f64c72;
}

body{
    background-color: #2f2fa2;
    font-family: 'Courier New', monospace;
    color: #05386B;
}

footer{
    text-align: center;
    color: #f64c72;
    text-decoration: none;
}

header{
    text-align: center;
    color:#f64c72;
    text-decoration: none;
}

nav{
    text-align: center;
}

.center{
    text-align: center;
}

.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 70%;
}

.validator{
    text-decoration: none;
}

nav a:link{
    color: #f64c72;
}

nav a:visited{
    color: #f64c72;
}

nav a:hover{
    color: #f64c72;
}

nav{
    font-size: 25px;
}