<header>
    <h1>
      Eyaan Shahani's | Elaborate Sunfish 🐟 | ITIS 3135 
    </h1>
    <nav>
      <a href ="./">Home</a>
      |
      <a href ="introduction.html">Introduction</a>
      |
      <a href = "tables.html">Tables</a>
      |
      <a href = "forms.html">Form</a>
      |
      <a href = "contract.html">Contract</a>
      |
      <a href = "stuff/you Know;;; it.htm">Crappy Webpage</a>
      |
      <a href = "website_evaluations.html">CRAP</a>
      |
      <a href = "firstscripts.html">First Scripts</a>
      |
      <a href= "polygons.html">Polygons</a>
      |
      <a href= "hobby/index.html">Hobby</a>      
    </nav>
</header>