*{
    font-family: "Lucida Console", "Courier New", monospace;
}

body{
    background-color: #D7CEC7;
    color: black;
}

nav{
    margin: 20px 0 0 ;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    background-color: white;
    width: 100%;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
}

.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
