*{
    font-family: "Lucida Console", "Courier New", monospace;
}

body{
    background-color: #D7CEC7;
    color: black;
}

nav{
    margin: 20px 0 0 ;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    background-color: white;
    width: 100%;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
}

.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

/*Slideshow*/

.image-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}
      
.next {
    right: 0;
}
      
.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    margin-top: -25px;
}
      

.captionText {
    color: #000000;
    font-size: 14px;
    position: absolute;
    padding: 12px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
      
.fa {
    font-size: 32px;
}
      
.fa:hover {
    transform: rotate(360deg);
    transition: 1s;
    color: white;
}
      
.footerdot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
      
.active,
.footerdot:hover {
    background-color: black;
}

.slide_picture{
  width: 100%;
  height: 600px;
}
